<div class="panel panel-default">
    <div class="panel-heading">Weather</div>
        <div class="panel-body">
            <table class="table table-bordered">
            <tr>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[0]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[0]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[0]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[0]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[0]}}</p>

                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[1]}}"style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[1]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[1]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[1]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[1]}}</p>
                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[2]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[2]}} &#176 F</h3>
                    
                    <p ng-data="weatherDate">{{weatherDate[2]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[2]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[2]}}</p>
                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[3]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[3]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[3]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[3]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[3]}}</p>
                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[4]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[4]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[4]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[4]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[4]}}</p>
            </tr>
            </table>
    </div>
</div>  
