
<div class="panel panel-default">
    <div class="panel-heading">Weather</div>
        <div class="panel-body">
            <table class="table table-bordered">
            <tr>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[0]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[0]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[0]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[0]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[0]}}</p>
                    <button type="button" class="btn btn-primary" style="width:100%" ng-click="selectWeather(0)">Show</button>

                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[1]}}"style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[1]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[1]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[1]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[1]}}</p>
                    <button type="button" class="btn btn-primary" style="width:100%" ng-click="selectWeather(1)">Show</button>
                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[2]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[2]}} &#176 F</h3>
                    
                    <p ng-data="weatherDate">{{weatherDate[2]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[2]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[2]}}</p>
                    <button type="button" class="btn btn-primary" style="width:100%" ng-click="selectWeather(2)">Show</button>
                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[3]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[3]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[3]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[3]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[3]}}</p>
                    <button type="button" class="btn btn-primary" style="width:100%" ng-click="selectWeather(3)">Show</button>
                </td>
                <td class="col-md-2">
                    <img ng-src="{{weatherPic[4]}}" style="width:70px"/>
                    <h3 ng-data="weatherFaranheit" style="font-weight:bold">{{weatherFaranheit[4]}} &#176 F</h3>
                    <p ng-data="weatherDate">{{weatherDate[4]}}</p>
                    <p ng-data="weatherMain" style="font-weight:bold">{{weatherMain[4]}}</p>
                    <p ng-data="weatherDesc">{{weatherDesc[4]}}</p>
                    <button type="button" class="btn btn-primary" style="width:100%" ng-click="selectWeather(4)">Show</button>
            </tr>
            </table>
    </div>
</div>  

<div class="panel panel-default">
        <div class="panel-heading">Your Choices</div>
        <div class="panel-body">
            <div class="btn-group width-100">
                <div class="row  width-100 margin-l-r-0">
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default  width-100" ng-click="toggleToileteries()">Toileteries</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default  width-100" ng-click="toggleMustCarry()">Must Carry</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default  width-100" ng-click="toggleGeneral()" ng-disabled="status == 1">General</button>
                    </div>
                </div>
            </br>   
                <div class="row  width-100 margin-l-r-0">            
                    <div class="col-md-4">
                            <button type="button" class="btn btn-default  width-100" ng-show="maleFlag == 1" ng-click="toggleMale()">For Men</button>
                            <button type="button" class="btn btn-default  width-100" ng-show="femaleFlag == 1" ng-click = "toggleFemale()">For Women</button>
                            <button type="button" class="btn btn-default  width-100" ng-show="childrenFlag == 1" ng-click = "toggleChildren()">For Children</button>
                        </div>
                </div>    
            </div>
        </div>
</div>
<div class="panel panel-default" ng-show = "showToileteries == 1">
            <div class="panel-heading">Toileteries</div>
            <div class="panel-body">
                <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in commonToiletries">{{x}}</li>
                </ul>
            </div>
</div>
<div class="panel panel-default"  ng-show = "showMustCarry == 1">
        <div class="panel-heading">Must Carry</div>
        <div class="panel-body">
                <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in commonMustCarry">{{x}}</li>
                </ul>
        </div>
</div>
<div class="panel panel-default" ng-show = "showGeneral == 1">
        <div class="panel-heading">General</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <h4>Deprature Time</h4>
                </div>
                <div class="col-md-3">
                    <h4>Deprature</h4>
                </div>
                <div class="col-md-3">
                    <h4>Arrival Time</h4>
                </div>
                <div class="col-md-3">
                    <h4>Arrival</h4>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        <h5>{{departs_at}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h5>{{origin}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h4>{{arrives_at}}</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>{{dest}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        Terminal:
                    </div>
                    <div class="col-md-3">
                        {{oTerminal}}
                    </div>
                
                <div class="col-md-3">
                        Terminal:
                    </div>
                    <div class="col-md-3">
                        {{oDest}}
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            Aircraft:
                        </div>
                        <div class="col-md-3">
                            {{aircraft}}
                        </div>
                    
                    <div class="col-md-3">
                            Operating Airline:
                        </div>
                        <div class="col-md-3">
                            {{operating_airline}}
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                Travel Class:
                            </div>
                            <div class="col-md-3">
                                {{travel_class}}
                            </div>
                        
                        <div class="col-md-3">
                                Seats Remaining:
                            </div>
                            <div class="col-md-3">
                                {{seats_remaining}}
                            </div>
                        </div>
            </div>
        </div>
</div>
<div class="panel panel-default" ng-show="maleFlag == 1 && showMalePanel == 1">
        <div class="panel-heading">Men Outfits</div>
        <div class="panel-body">
                <ul class="list-group">
                        <li class="list-group-item" ng-repeat="x in commonClothes">{{x}}</li>
                </ul>
        </div>
    </div>
    <div class="panel panel-default" ng-show="femaleFlag == 1 && showFemalePanel == 1">
            <div class="panel-heading">Women Outfits</div>
            <div class="panel-body">
                    <ul class="list-group">
                            <li class="list-group-item" ng-repeat="x in commonClothes">{{x}}</li>
                    </ul>
            </div>
    </div>
    <div class="panel panel-default" ng-show="childrenFlag == 1 && showChildrenPanel == 1">
            <div class="panel-heading">Children Outfits</div>
            <div class="panel-body">
                    <ul class="list-group">
                            <li class="list-group-item" ng-repeat="x in commonClothes">{{x}}</li>
                    </ul>
            </div>
    </div>
