<div class="jumbotron">
    <h1>Pack-In-eZ</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Trip Details</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Age" aria-describedby="basic-addon1">
            </div>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Gender" aria-describedby="basic-addon1">
            </div>
        </div>
      </div>
    </br>
      <div class="row">
          <div class="col-md-4">
              <div class="input-group">
                  <input type="datetime" class="form-control" placeholder="Departure" aria-describedby="basic-addon1">
                </div>
          </div>
          <div class="col-md-4">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
              </div>
          </div>
          <div class="col-md-4">
              <div class="input-group">
                  <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
              </div>
          </div>
        </div>
      </br>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-success">Left</button>
          </div>
        </div>
        <a href="#!/about">About</a></li>
    </div>
</div>


