<div class="jumbotron">
    <h1>Pac-In-eZ</h1>
    <h4 style="font-style: italic">Packing made easy</h4>
</div>

<div class="panel panel-success box-shadow">
    <div class="panel-heading">Trip Details</div>
    <div class="panel-body">
        <div class="panel panel-info box-shadow">
            <div class="panel-heading">Personal Information</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Name" aria-describedby="basic-addon1" ng-model="name">
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Age" aria-describedby="basic-addon1" ng-model="age">
                    </div>
                </div>
                <div class="col-md-4">
                    <!-- <div class="input-group">
                        <input type="text" class="form-control" placeholder="Gender" aria-describedby="basic-addon1" ng-model="gender">
                    </div> -->
                    <div class="btn-group" style="width: 100%">
                        <button type="button" class="btn btn-default" style ="width: 80%">{{gender}}</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a ng-click="selectGender('male')">Male</a></li>
                            <li><a ng-click="selectGender('female')">Female</a></li>
                        </ul>
                      </div>
                    <!-- <div class="btn-group width-100" role="group" aria-label="...">                      
                        <div class="btn-group width-100" role="group">
                          <button type="button" class="btn btn-default dropdown-toggle width-100" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{gender}}
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a ng-click="selectGender('male')">Male</a></li>
                            <li>Female</li>
                          </ul>
                        </div>
                      </div> -->
                </div>
              </div>
            </div>
          </div>
            </br>
          <div class="panel panel-info box-shadow">
            <div class="panel-heading">Trip Details</div>
            <div class="panel-body">
              <div class="row">
                  <div class="col-md-6">
                      <div class="input-group input-type-width-100">
                          <input type="datetime" class="form-control" placeholder="Departure Date" aria-describedby="basic-addon1" ng-model="departureDate">
                        </div>
                  </div>
                  <div class="col-md-6">
                      <div class="input-group input-type-width-100">
                          <input type="datetime" class="form-control" placeholder="Arrival Date" aria-describedby="basic-addon1" ng-model="arrivalDate">
                      </div>
                  </div>
                </div>
              </br>
                <div class="row">
                  <div class="col-md-3">
                      <div class="input-group">
                          <input type="datetime" class="form-control" placeholder="From" aria-describedby="basic-addon1" ng-model="sourceCity">
                        </div>
                  </div>
                  <div class="col-md-3">
                      <div class="input-group">
                          <input type="datetime" class="form-control" placeholder="Zip Code" aria-describedby="basic-addon1" ng-model="sourceZipCode">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="To" aria-describedby="basic-addon1" ng-model="destinationCity">
                      </div>
                  </div>
                  <div class="col-md-3">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Zip Code" aria-describedby="basic-addon1" ng-model="destinationZipCode">
                      </div>
                  </div>
                </div>
              </br>
              <div class="btn-group btn-group-justified" role="group" aria-label="...">
                  <div class="btn-group" role="group">
                      <button type="button" class="btn btn-primary" ng-click="getFlights()" ng-disabled = "status == 1">Get Flights</button>
                  </div>
                </div>
              </br>
              <div class="row">
                  <div class="col-md-12">
                      <div class="dropdown">
                          <button ng-disabled="searched == 1" ng-show = "pressed == 1" class="btn btn-primary dropdown-toggle width-100" type="button" data-toggle="dropdown" >{{selectedFlight}} 
                              <span class="caret"></span></button>
                          <ul class="dropdown-menu" aria-labelledby="dLabel">
                              <li ng-repeat="flight in flightNumbers"  style="list-style: none; padding:5px">
                                  <a ng-click="setSelectedFlight(flight)">{{flight}}</a><hr></li>
                          </ul>
                          </div>  
                  </div>
                </div>
              </div>
            </div>
      </br>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-group" role="group">
              <a href="#!/about"><button type="button" class="btn btn-primary" ng-click="copyDataToRootScope()">Next</button></a>
          </div>
        </div>
        
    </div>
</div>


